# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Windows
/windows/flutter/ephemeral/

# Logs
*.log
