*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea/
.vscode/
*.iml
.project
.pub-cache/
.pub/
/build/
.dart_tool/
ios/.symlinks/
ios/Pods/
ios/Flutter/.last_build_id
android/.gradle/
android/local.properties
windows/flutter/ephemeral/
