*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea/
.vscode/
.project
.pub-cache/
.pub/
/build/
*.iml
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata

/ios/.symlinks/
/ios/Pods/
/ios/Flutter/.last_build_id
/android/.gradle/
/android/local.properties
/android/app/debug/
/android/app/profile/
/android/app/release/
/windows/flutter/ephemeral/
